h1{
    font-family: 'Monoton', cursive;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.centerText{
    text-align: center;
}
.coffeeLabel{
    float: left;
    margin-left: 2%
}

.coffeeLabelTwo{
    margin-left: 2%;
    float: left;
}

.coffee{
    width: 40%;
    float: left;
    background-color: #54AB8A;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 2px solid darkgreen;
    border-radius: 15%;
    padding-left: 6%;
    font-style: italic;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-shadow: 5px 5px 5px;
}

.coffeeName{
    margin-top: 4%;
    font-style: italic;
    color: saddlebrown;

}




