
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.centerText{
    text-align: center;
}
.coffeeLabel{
    float: left;
}

.coffeeLabelTwo{
    margin-left: 2%;
    float: left;
}

.coffee{
    width: 50%;
    float: left;
}

.coffeeName{
    margin-top: 4%;
    font-style: italic;
    color: saddlebrown;
}


